<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="96.0.17" targetFramework="net472" />
  <package id="cef.redist.x86" version="96.0.17" targetFramework="net472" />
  <package id="CefSharp.Common" version="96.0.170" targetFramework="net472" />
  <package id="CefSharp.Wpf" version="96.0.170" targetFramework="net472" />
</packages>